{% extends 'base.html' %}
{% block title %} Search Skills {% endblock %}
{% block main_tag_style %} {% endblock %}
{% block body %}

<div class="md:w-1/2 md:mx-auto mx-2 my-10 md:p-10 p-2 rounded-lg shadow-md">
    
    <form class="flex flex-col max-w-sm mx-auto mb-5" method="GET">
        <div>
            <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900">Search skills e.g. python, css, backend, hacking, design</label>
            <input type="text" name="skill" class="form-control" value="{{ search_query }}" placeholder="python">
        </div>
        <button type="submit" class="btn btn-success  my-4">Search</button>
    </form>
  
        {% for std in students %}
            <a href="{% url 'studentsapp:student-profile' slug=std.slug %}">
                <div class="flex align-items-center p-2 my-4 rounded-t-lg bg-gray-300 shadow-lg font-black text-gray-500">
                    <span class="inline-block h-[30px] w-[30px] rounded-full overflow-hidden me-3">
                        <img src="{{ std.thumbnail.image.url }}" alt="">
                    </span>
                    {{ std }}
                </div>
                <div class="bg-gray-200 mt-[-16px] p-5 rounded-b-lg font-medium text-teal-800" id="skills-output-{{ forloop.counter }}">{{ std.skills }}</div>
            </a>
        {% empty %}
            <div class="p-2 my-4 rounded-t-lg bg-gray-200 shadow-lg font-medium text-lg text-red-500 text-center">No match found.</div>
        {% endfor %}
    
        <script>
            $(document).ready(function () {
                const searchKeyword = "{{ request.GET.skill }}".trim().toLowerCase();
                if (searchKeyword !== "") {
                    $('[id^="skills-output-"]').each(function () {
                        let skillsText = $(this).text();
                        let regex = new RegExp("(" + searchKeyword + ")", "gi");
                        let highlightedSkills = skillsText.replace(regex, "<span class='bg-yellow-300'>$1</span>");
                        $(this).html(highlightedSkills);
                    });
                }
            });
        </script>
  
    
</div>


                    <!-- ------ Pagination -----  -->

<!-- <nav class="my-10">
    <ul class="pagination w-fit mx-auto shadow-lg">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        
        <li class="page-item"><a class="page-link text-bg-primary" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</a></li>

        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
    </ul>
</nav> -->


<nav class="my-10">
    <ul class="pagination w-fit mx-auto shadow-lg">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1{% if search_query %}&skill={{ search_query }}{% endif %}">&laquo; first</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&skill={{ search_query }}{% endif %}">Previous</a>
            </li>
        {% endif %}
        
        <li class="page-item">
            <a class="page-link text-bg-primary" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&skill={{ search_query }}{% endif %}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ paginator.num_pages }}{% if search_query %}&skill={{ search_query }}{% endif %}">last &raquo;</a>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
