{% extends 'base.html' %}

{% block title %} All Notices of CSE Academia {% endblock %}

{% block body %}


<div class="text-bg-success py-4 fw-semibold fs-3 text-center antialiased">All notices of CSE Academia</div>

<div class="container mt-8">
    <ul class="list-groups list-group-flush md:w-6/12 mx-auto">

        {% for notice in notices %}
        <a href="{% url 'noticeapp:notice' slug=notice.slug %}" class="block mb-6" data-aos="fade-up" data-aos-duration="1000">
            <li
                class="list-group-item flex flex-col sm:flex-row justify-between bg-green-100 text-[#5f9e6e] shadow-lg rounded-lg px-4 py-2 sm:py-4 hover:shadow-2xl transition-all duration-300 transform hover:scale-105">
                
                <!-- Notice Icon -->
                <div class="flex items-center space-x-4">
                    <i class="fa-solid fa-bell text-md text-green-600"></i>

                    <!-- Notice Heading -->
                    <div class="text-left">
                        <div class="fw-semibold text-md text-[#5f9e6e]">{{ notice.heading|truncatechars:50 }}</div>
                    </div>
                </div>

                <!-- Days Left Badge -->
                <span class="bg-green-600 text-white py-0.5 px-4 mt-2 sm:mt-0 rounded-full text-nowrap w-max self-end text-xs sm:text-sm">
                    {{ notice.days_left }} 
                </span>
            </li>
        </a>
        {% endfor %}

    </ul>
</div>





                    <!-- ------ Pagination -----  -->

<nav class="my-10">
    <ul class="pagination w-fit mx-auto shadow-lg">
        {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        
      <li class="page-item"><a class="page-link text-bg-primary" href="#">Page {{ page_obj.number }} of {{ paginator.num_pages }}.</a></li>

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
      {% endif %}
    </ul>
</nav>

{% endblock %}