{% extends 'base.html' %}

{% block title %} {{ notice.heading| truncatechars:40 }} {% endblock %}

{% block script %} {% endblock %}

{% block body %}


<div class="md:p-16">
    <!-- Notice Container -->
    <div class="container p-6 bg-green-50 border border-green-500 rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300">
        <!-- Heading -->
        <h5 class="mb-1 text-2xl font-bold tracking-tight text-orange-600">
            {{ notice.heading }}
        </h5>
        <!-- Date and Days Left -->
        <span class="d-block mb-3 w-fit font-normal text-green-700">{{ notice.date }} ( {{ notice.days_left }} )</span>

        <!-- Notice Body -->
        <p class="mb-3 font-normal text-gray-700">
            {{ notice.body| linebreaksbr }}

            <!-- PDF Section -->
            {% if notice.pdf %}
            <div class="pdf mt-10 text-green-600">
                <p class="font-normal mb-3 text-xl">Download PDF</p>
                <a href="{{ notice.pdf.url }}" class="underline hover:text-orange-600 transition-colors duration-300">{{ notice.pdf.name|slice:"12:" }}</a>
            </div>
            {% endif %}

            <!-- Images Section -->
            {% if notice.images %}
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-10">
                    {% for img in notice.images.all %}
                    <div class="image overflow-hidden rounded-lg shadow-md hover:shadow-xl transform hover:scale-105 transition-all duration-300">
                        <a href="{{ img.image.url }}">
                            <img class="w-full h-auto" src="{{ img.image.url }}" alt="{{ notice.heading }}">
                        </a>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </p>
    </div>
</div>



{% endblock %}