{% extends 'base.html' %}

{% block title %}Class Routine{% endblock %}

{% block body %}

<h2 class="container my-10 py-4 rounded-lg bg-gray-500 text-gray-200 text-center text-2xl fw-bold antialiased font-mono shadow-2xl">Updated : {{ routine.update_date }}</h2>

<div class="container my-10 h-[200px]">
    <a href="{{ routine.routine_pdf.url }}" target="_blank" class="block py-4 rounded-lg bg-sky-700 hover:bg-sky-600 text-cyan-300 hover:text-cyan-300 font-bold text-center text-2xl font-mono antialiased ">{% if routine is None %}No routine uploaded yet.{% else %}Download routine {% endif %}</a>
</div>

    
{% endblock %}
