{% extends 'alumni/base.html' %} {% load static %}

<title>{% block title %} Alumni {{ title }} {% endblock %}</title>

{% block style %}
{% endblock %}
{% block script_head %} {% endblock %}
{% block body %}

<div class="bg-gray-300 py-5 text-xl sm:text-3xl font-semibold text-center text-sky-600">Meet the Alumni</div>

<section class="alumni-section my-10">

  <form action="" class="w-full md:w-1/2 mx-auto flex space-x-2 p-2">
    <input type="text" class="form-control border-1 border-sky-600" name="" id="" placeholder="Search Name">
    <input type="submit" value="Search Alumni" class="btn btn-outline-success">
  </form>


  <div class="w-full md:w-2/3 alumni-list mt-10 flex flex-wrap justify-center space-x-8 space-y-14 mx-auto">

    <div class="alumni w-1/5 ml-8 mt-14 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <div class="alumni w-1/5 rounded-lg border-1 border-gray-300 cursor-pointer">
      <div class="wrapper overflow-hidden">
        <img src="{% static 'images/alumni_default.png' %}" alt="" class="duration-300">
      </div>
      <div class="alumni_name pl-2 pt-1 text-center text-lg text-sky-600 font-medium">Md. Abu Saleh</div>
      <div class="alumni_status pl-2 text-center text-green-700">Assistant Professor</div>
    </div>
    
    <style>.alumni:hover img{scale: 1.1;}</style>
  </div>

</section>

{% endblock %}